.web-cam{
    margin: auto;
    width: 90%;
}
.web-cam__player{
    height: 300px;
    width: 350px;
    margin: auto;
    background-color: aliceblue;
}
.web-cam__player__video{
    height: 300px;
    width: 350px;
}
.web-cam__controllers{
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
.web-cam__controllers__buttons{
    margin-left: 15px;
    margin-right: 15px;
    font-size: 2.4em;
    border-radius: 10px;
    background-color: aliceblue;
}
